body{
    background:linear-gradient(to right,black,white);
    font-family: Arial, sans-serif;
}
.todo-box{
    max-width:500px;
    margin:auto;
    background:lavenderblush;
    padding:25px;
    border-radius:15px;
}
#taskList li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px;
    border-radius:8px;
    margin-bottom:10px;
}
.task-text{
    flex:1;
}
.completed{
    text-decoration:line-through;
    color:lightgrey;
}
.btn-small{
    padding:5px;
    font-size:14px;
    margin-left:8px;
}